
    <section class="catalog">
        <h2 class="heading-catalog">Catalog</h2>
        <div class="wrap">
            <div class="sneaker-catalog">
                {{#each sneakers}}
                    {{> sneaker}}
                {{else}}
                    <p class="no-post">There haven't been any sneakers posted yet.</p>
                {{/each}}
            </div>
        </div>
    </section>
