

    <div class="create-wrapper">
        <section class="create-hero">
            <div class="wrap">
                <h2>Add Sneakers</h2>
            </div>
        </section>

        <section class="create-form">
            <div class="wrap">
                <form action="#" method="">
                    <div class="input-wrap">
                        <input type="text" id="brand" name="" placeholder="Brand">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="model" name="" placeholder="Model">
                    </div>
                    <div class="input-wrap">
                        <input type="number" id="price" name="" placeholder="Price">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="condition" name="" placeholder="Condition">
                    </div>
                    <div class="input-wrap">
                        <input type="number" id="year" name="" placeholder="Year">
                    </div>
                    <div class="input-wrap">
                        <input type="number" id="size" name="" placeholder="Size">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="image" name="" placeholder="ImageUrl">
                    </div>
                    <div class="input-wrap">
                        <input type="text" id="description" name="" placeholder="Description">
                    </div>
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </section>
    </div>
