
    <section class="details-hero">
        <div class="wrap">
            <h2>Sneakers Details</h2>
        </div>
    </section>

    <section class="details-content">
        <div class="wrap">
            <div class="sneakers-details">
                <div class="sneakers-image">
                    <img src="https://firebasestorage.googleapis.com/v0/b/angular-project-4050b.appspot.com/o/js%20back-end%2Fconerse.webp?alt=media&token=1c0512d1-c859-464a-a2fd-11388ac4fe52" alt="shoe">
                </div>
                <div class="sneakers-info">
                    <h3>Brand: Adidas</h3>
                    <p><strong>Model:</strong> Multicolor</p>
                    <p><strong>Price:</strong> $150</p>
                    <p><strong>Size:</strong> 42</p>
                    <p><strong>Condition:</strong> New</p>
                    <p><strong>Model Year:</strong> 2023</p>
                    <p><strong>Description:</strong> A vibrant and eye-catching Adidas shoe with a mix of colors, ensuring versatility and a standout look for any outfit.</p>
                </div>
                
            </div>
            <div class="buttons-wrap">
                <button class="btn edit"><a href="">Edit</a></button>
                <button class="btn delete"><a href="">Delete</a></button>
                <button class="btn prefer"><a href="">Prefer</a></button>
                 <p class="prefer-message">You've already preferred this sneakers!</p>
            </div>
        </div>
    </section>
